@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
*{margin: 0;padding: 0;}
html{overflow-y:scroll;}
li{list-style:none;}
img{max-width: 100%;}
fieldset{border:none;}
legend, hr, .blind {position:absolute; left:-9999px;}
caption{text-indent:-9999px; height:0; overflow:hidden; visibility:hidden;}
img,button,input[type="submit"],input[type="button"],input[type="reset"]{ border:none; vertical-align:middle;}
a{text-decoration:none; color:#101010;}
body, input, textarea, select, button{ color:#101010; font:14px/1.33 Nanum Gothic,'나눔고딕', Malgun Gothic, '맑은고딕', Dotum, '돋움', arial, sans-serif;}
input, select, button {vertical-align:middle;}
input[type="text"], input[type="email"],input[type="url"], input[type="search"],input[type="password"], select, textarea{border:1px solid #c8c8c8;}
address, em{font-style:normal;}
h1, h2, h3, h4, h5, h6, strong{font-size:100%; font-weight:normal;}
.clearFix:after{content:""; display:block;clear:both;}
.clearFix{*zoom:1;}
button, input[type="button"], input[type="submit"], input[type="reset"]{cursor:pointer;}
table{border-collapse:collapse;border-spacing:0;}
th{font-weight: normal;}
textarea{resize:none;vertical-align: middle;padding: 2px;}
*,
*:after,*:before {box-sizing: border-box;}
@font-face {
      font-family: 'fontello';
      src: url('../font/fontello.eot?48054285');
      src: url('../font/fontello.eot?48054285#iefix') format('embedded-opentype'),
           url('../font/fontello.woff?48054285') format('woff'),
           url('../font/fontello.ttf?48054285') format('truetype'),
           url('../font/fontello.svg?48054285#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
}


#wrap{width: 100%;margin-top: 110px;}

/* header */
#header_wrap{width: 100%;height: 110px;background-color: #000;position: relative;position: fixed;z-index: 50;margin-top:-110px;}
.skip_menu a{background:#fff;width:100%;position:absolute;top:-200px; left:0;text-align:center;padding:5px 0;color:#000;font-weight:bold;}
.skip_menu a:focus{display:block; top:0;}
#header{max-width: 1200px;margin: 0 auto;}
#header h1{padding: 30px 0 0 7px;float: left;}
.utilmenu{position: absolute;top:15px;right: 2%;width: auto;}
.utilmenu ul{display: inline-block;padding: 6px 23px 0 0;}
.utilmenu ul li{float: left;}
.utilmenu ul li:first-child{padding-right: 18px;}
.utilmenu ul li a{color:#fff;font-size: 12px;}
.utilmenu ul li a:before{content:"\f02c";font-family:'fontello';color:#fff;font-size: 20px;vertical-align: middle;padding-right: 7px;}
.utilmenu ul li+li>a:before{content:"\e803";}
.utilmenu form{float: right;}
.utilmenu fieldset{float: right;border: 1px solid #979797;background: url(../images/common/bg_header_sch_dotline.png) 147px 4px no-repeat;}
.utilmenu fieldset>input[type="text"]{background-color: #000;border: none;padding: 8px 4px;width: 147px;color:#fff;}
.utilmenu fieldset>input[type="image"]{padding: 5px 8px 5px 9px;}
.gnb{padding:78px 0 0 31.6666%;}
.gnb>ul>li{float: left;width: 12%;white-space:nowrap;}
.gnb>ul>li+li{width: 7%;margin-left: 8%;}
.gnb>ul>li+li+li{width: 12%;margin-left:10%}
.gnb>ul>li>a{color:#fff;font-weight:bold;font-size: 15px;}
/*.gnb>ul>li>a+div>img{transition:all 0.7s linear;}
.gnb>ul>li>a.on+div>img{margin-left:80%;}*/

.gnb>ul>li>a.on+div>img{animation:abcde 2s linear;left:50%;margin-left: -600px;}
@-webkit-keyframes abcde{
  100%{margin-left: 10%;opacity: 0;}
}
@-ms-keyframes abcde{
  100%{margin-left: 10%;opacity: 0;}
}
@-moz-keyframes abcde{
  100%{margin-left: 10%;opacity: 0;}
}

.gnb{height: 120px;}
.gnb>ul>li:first-child>a,
.gnb>ul>li+li+li+li>a{background: url(../images/common/bullet_gnb.png) right 50% no-repeat;padding-right: 21px;}
.gnb>ul>li:first-child>a:hover,
.gnb>ul>li:first-child>a:focus,
.gnb>ul>li:first-child>.on,
.gnb>ul>li+li+li+li>a:hover,
.gnb>ul>li+li+li+li>a:focus,
.gnb>ul>li+li+li+li>.on{background: url(../images/common/bullet_gnb_ov.png) right 50% no-repeat;padding-right: 21px;}
.gnb>ul>li>a:hover, .gnb>ul>li>a:focus, .gnb>ul>li>.on{color:#afca43;}
.gnb>ul>li>div{position: absolute;top:110px;left: 0;width: 100%;z-index:20;display: none;background-color: #0d0d0d;min-width: 1024px;height: 273px;}
.gnb>ul>li>div>img{position: absolute;left: 50%;margin-left: -600px;margin-top: 30px;}
.info_prd_wrap{position: absolute;top: 34px;left: 50%;margin-left: -222px;}
.gnb>ul>li>div>.info_prd_wrap>li{float: left;}
.gnb>ul>li>div>.info_prd_wrap>li>h3{margin-bottom: 24px;}
.gnb>ul>li>div>.info_prd_wrap>li>h3>a{color:#8da23a;font-weight: bold;}
.syncros_h3{background: url(../images/common/gnb_sub_syncros.png) 0 0 no-repeat;text-indent: -9999px;}
.gnb>ul>li>div>.info_prd_wrap>li>ul{margin-right: 100px;}
.gnb>ul>li>div>.info_prd_wrap>li>ul>li{margin-bottom: 5px;}
.gnb>ul>li>div>.info_prd_wrap>li>ul>li>a{color:#e1e1e1;}
.gnb>ul>li>div>.info_prd_wrap>li>ul>li>a:hover,.gnb>ul>li>div>.info_prd_wrap>li>ul>li>a:focus{text-decoration: underline;}
.li_common{position: relative;}
.ul_common{position: absolute;background-color: #0d0d0d;height: 160px;width:160px;padding: 20px;left: -40px;top: 32px;}
.ul_common>li{margin-top: 10px;}
.ul_common>li:first-child{margin: 0;}
.ul_common>li>a{color:#e1e1e1;}
.ul_common>li>a:hover,.ul_common>li>a:focus{text-decoration: underline;}
.ul_common{display: none;}
.btn_gnb{display: none;}

/* container */
#container{width:100%;margin-bottom: 200px;}
.visual_wrap{width: 100%;margin: 0 auto;position: relative;}
.visual_wrap>img{width: 100%;}
.location{position: absolute;top:30px;left: 18%;right: 20%;width: auto;}
.location li a,.location li{color:#fff;font-size: 13px;}
.location li a:hover,.location li a:focus{color:#ccff00;}
.location li{background: url(../images/common/bullet_vs_1.png) 8px 4px no-repeat;float: left;padding-left: 24px;}
.location li:first-child{background: none;padding: 0;}
.location>h3{color:#fff;font-size: 45px;font-weight: bold;margin-top: 14px;}
.location>h3>img{padding-top:10px;}
.content{max-width: 1200px;margin:0 auto;position: relative;}
.content_sub{float: right;width: 81.3%;margin-top:55px;position: relative;}

/* LNB,LNB_2 */
.lnb,.lnb_2{float: left;width: 16.2%;}
.lnb h3,.lnb_2 h3{font-size: 30px;font-weight: bold;margin-top:55px;}
.lnb .cyc_ftl:before{content:"\e80a";font-family: 'fontello';font-size: 25px;vertical-align: middle;padding-right: 8px;padding-left: 6px;}
.lnb .app_ftl:before{content:"";width: 28px;background: url(../images/pro_app/icon_app.png) 0 70% no-repeat;padding-right: 35px;}
.lnb>ul{/* width: 194px; */border-bottom: 1px solid #cccccc;margin-top: 13px;}
.lnb>ul>li>a{padding: 10px 31px;display: block;background: url(../images/common/bullet_lnb.png) 12px 50% no-repeat;border: 1px solid #cccccc;}
.lnb>ul>li>a:hover,.lnb>ul>li>a:focus,.lnb>ul>li>.on{color:#fff;font-weight: bold;border: 1px solid #000;background: #000 url(../images/common/bullet_lnb_ov.png) 11px 50% no-repeat;}
.lnb>ul>li>ul{border-left: 1px solid #cccccc;border-right: 1px solid #cccccc;padding: 15px 0;}
.lnb>ul>li>ul>li{padding: 0 31px;margin-top: 8px;background: url(../images/common/bullet_lnb_sub.png) 16px 50% no-repeat;}
.lnb>ul>li>ul>li:first-child{margin: 0;}
.lnb>ul>li>ul>.active{font-weight: bold;}
.lnb>ul>li>ul{/* display: none; */}

.lnb_2 h3{padding-left: 12px;}
.lnb_2>ul{margin-top: 13px;}
.lnb_2>ul>li>a{display: block;border: 1px solid #cccccc;padding: 10px;border-top: none;height: 40px;}
.lnb_2>ul>li:first-child>a{border-top: 1px solid #cccccc;}
.lnb_2>ul>li>a:hover,.lnb_2>ul>li>a:focus,.lnb_2>ul>li>.on{background-color: #000;border: 1px solid #000;color:#fff;font-weight: bold;}
.lnb_2>ul>li:first-child>.on{border-top: none;}

/* quickmenu */
.quick_menu{clear:both;position: absolute;top:105px;right:-120px;width: 80px;}
.quick_menu span{font-size: 13px;display: block;background-color: #585858;color:#fff;text-align: center;padding: 5px;}
.quick_menu .quick_img li{height: 68px;position: relative;text-align: center;padding: 4px 0;}
.quick_menu .quick_img li>button{position: absolute;top:5px;right: 5px;text-indent: -9999px;background: url(../images/common/btn_close_quick_img.png) 0 0 no-repeat;width: 5px;height: 5px;}
.quick_menu div{background-color: #c6c6c6;}
.quick_menu div>button{background: #c6c6c6 url(../images/common/quick_btn_prev.png) 2px 50% no-repeat;width: 38px;padding: 3px 0 3px 8px;font-size: 13px;}
.quick_menu div>button+button{background: #c6c6c6 url(../images/common/quick_btn_next.png) 30px 50% no-repeat;padding-left: 0;padding-right: 8px;}
.quick_menu div+button{display: block;padding: 4px;width: 100%;font-weight: bold;font-family: arial;background: #dddddd url(../images/common/bullet_quick_top.png) 18px 50% no-repeat;padding-left: 15px;}

/* 사진게시판 */
.content_sub h4{padding-bottom: 19px;padding-left: 10px;font-size: 26px;font-weight: bold;background: url(../images/common/line_cyc_common.png) 0 bottom repeat-x;}
.content_sub .h5_gre_line{padding-bottom: 8px;padding-left: 10px;margin-top: 27px;font-size: 16px;font-weight: bold;color:#555555;background: url(../images/common/line_cyc_green.png) 0 bottom repeat-x;}
.content_sub>.pro_list_2{margin-top: 67px;}
.content_sub>.pro_list_2>li{float: left;margin-left: 2.5%;width: 31.25%;position: relative;}
.content_sub>.pro_list_2>li:first-child{margin-left: 0;}
.content_sub>.pro_list_2>li>a{border: 1px solid #fff;transition:all 0.3s linear;display: inline-block;padding: 20px 10px;}
.content_sub>.pro_list_2>li>a:hover,.content_sub>.pro_list_2>li>a:focus{border: 1px solid #4c4c4c;}
.content_sub figcaption{text-align: center;margin-top: 38px;line-height: 30px;}
.content_sub figcaption span{font-weight: bold;}
.mb_80, .pro_list_2 li{margin-bottom: 80px;}
.ml_0{margin-left: 0 !important;}

/* list range, 모델명검색 */
.list_range{position: absolute;top:4px;right: 0;}
.list_range ul{display: inline-block;vertical-align: middle;padding-top: 6px;}
.list_range ul li{float: left;margin-left: 5px;}
.list_range ul li a{font-size: 13px;border: 1px solid #cccccc;border-radius: 2px;padding: 5px;}
.list_range ul li a:hover,.list_range ul li a:focus,.list_range ul li a .on{background-color: #cccccc;color: #000;font-weight: bold;}
.list_range form{float: right;margin-left: 10px;border: 1px solid #cccccc;}
.list_range form input[type="text"]{padding: 6px;font-size: 12px;border: none;}
.list_range form input[type="submit"]{width: 35px;height: 28px;padding: 6px;text-indent: -9999px;background: #cccccc url(../images/common/btn_header_sch.png) 50% 50% no-repeat;}

/* pagenum */
.pagenation_wrap{text-align: center;}
.pagenation{display: inline-block;}
.pagenation li{float: left;}
.pagenation>li>a{border: 1px solid #cccccc;border-left: none;text-align: center;width: 33px;height: 35px;padding-top: 7px;display: block;}
.pagenation>li:first-child>a{border-left: 1px solid #cccccc;border-bottom-left-radius:4px;border-top-left-radius:4px;}
.pagenation>li:last-child>a{border-bottom-right-radius:4px;border-top-right-radius:4px;}
.pagenation .on a{background-color: #000;color:#fff;font-weight: bold;border: 1px solid #000;}

@media (max-width: 1600px){
  .location{position: absolute;top:30px;left: 5%;}
}

/* member */
.content_sub .agree_procedure li{float: left;width: 25%;height: 50px;padding: 16px 30px 16px 0 ;text-align: center;background: #cbcdc3 url(../images/member/bg_mb_2.png) right 0 no-repeat;margin-top: 20px;}
.content_sub .agree_procedure .on{background: #000 url(../images/member/bg_mb_1.png) right 0 no-repeat;color:#fff;font-weight: bold;}
.content_sub .agree_procedure li+li+li+li{background-image: none;}
.btn_submit_wrap{text-align: center;margin-top: 68px;}
.btn_submit_wrap input[type="submit"],.btn_submit_wrap input[type="reset"]{width: 92px;padding: 8px;border: 1px solid #333333;}
.btn_submit_wrap input[type="submit"]{color:#fff;background-color: #333333;}
.btn_submit_wrap input[type="reset"]{background-color: #fff;border: 1px solid #333333;}

/* footer */
#footer_wrap{width: 100%;}
.sns_wrap{background-color: #363636;}
.sns{width: 210px;margin: 0 auto;padding:27px 0;text-align: center;}
.sns li{float: left;margin-left: 27px;}
.sns li:first-child{margin: 0;}
.footer{background: url(../images/common/bg_footer.png) center center repeat-x;background-size:cover;width: 100%;}
.footer>div{position: relative;margin: 0 auto;height: 589px;padding: 30px;max-width: 1200px;}
.footer h3 img{position: absolute;bottom:40px;right: 2.5%;}
.footer .store_ft{display: inline-block;float: left;max-width: 476px;width: 100%;}
.footer .store_ft h4{background: url(../images/common/bg_footer_store_sch.png) 4px 0 no-repeat;padding: 12px 41px;font-size: 16px;color:#fff;font-weight: bold;}
.footer .store_ft form{margin-bottom: 6px;}
.footer .store_ft input[type="text"]{padding: 8px;border: none;width: 90.33%;height: 34px;}
.footer .store_ft .search_footer_1{width: 9.5%;min-width:30px;height: 34px;background: #fff url(../images/common/footer_btn_sch_1.png) 50% 50% no-repeat;text-indent: -9999px;}
/* .footer .store_ft select{width: 194px;height: 34px;border: none;padding: 3px 0 3px 10px;font-weight: bold;margin-left: 1px;} */
.selectBox{display: inline-block;vertical-align: top;position: relative;vertical-align: middle;}
.selectBox button{width: 194px;height: 34px;text-align: left;font-weight: bold;padding-left: 9px;background: #fff url(../images/common/select_arrow_footer.png) 170px 50% no-repeat;padding: 0 5px;}
.selectBox ul{position: absolute;top:34px;left: 0;background-color: #f9f9f9;width: 100%;z-index: 10;display: none;}
.selectBox ul a{display: block;padding:3px 8px;font-size: 13px;}
.selectBox ul a:hover,.selectBox ul a:focus{background-color: #818181;color:#fff;}
.footer .store_ft .search_footer_2{background-color: #5c5c5c;font-weight: bold;color:#fff;padding: 10px 18px;}
.footer .ft_category{/* max-width: 535px; */width: 49%;margin-top: 10px;float: right;padding-left: 30px;}
.footer .ft_category a{color:#fff;}
.footer .ft_category>li{float: left;margin-left: 15%}
.footer .ft_category>li:first-child{margin-left: 0;}
.footer .ft_category>li+li+li+li{margin-left: 0;margin-top: 48px;}
.footer .ft_category>li+li+li+li+li{margin-left: 20%;}
.footer .ft_category>li h4{font-weight: bold;font-size: 18px;font-family: arial;margin-bottom: 15px;}
.footer .ft_category>li>ul>li{margin-top: 6px;}
.addr_wrap{position: absolute;bottom: 40px;left: 2.5%;font-size: 12px;width: 63%;}
.footer address{clear: both;color:#fff;}
.footer .copy{color:#fff;}


/*반응형 12컬럼*/
@media (max-width:1024px) {.gnb: ;.gnb>ul: ;.gnb>ul>li: ;.gnb>ul>li>div: ;.gnb>ul>li>div>ul: ;
  .col_tablet_1{width: 8.333%;}
  .col_tablet_2{width: 16.666%;}
  .col_tablet_3{width: 24.999%;}
  .col_tablet_4{width: 33.33%;}
  .col_tablet_5{width: 41.665%;}
  .col_tablet_6{width: 49.998%;}
  .col_tablet_7{width: 58.331%;}
  .col_tablet_8{width: 58.331%;}
  .col_tablet_9{width: 74.997%;}
  .col_tablet_10{width: 83.33%;}
  .col_tablet_11{width: 91.663%;}
  .col_tablet_12{width: 100%;}
  
  #wrap{margin-top: 60px;}
  #header_wrap{height:60px;margin-top: -60px;}
  #header h1{padding: 8px 0 0 13px;}
  #header h1 img{width: 80%;}
  .utilmenu{right: 50px;}
  .utilmenu form{display: none;}
  .gnb{height: 60px;}
  .btn_gnb{display: inline-block;width: 40px;height: 40px;background: url(../images/common/btn_category.png) 0 0 no-repeat;position: absolute;top:10px;right: 10px;z-index: 60;}
  .btn_gnb:hover,.btn_gnb:focus{background-color: #6e6e6e;}
  .gnb{position: static;}
  .gnb>ul{position:absolute;top:60px;right:0;width: 100%;background-color: #0f0f0f;border-top: 1px solid #585858;}
  .gnb>ul>li,.gnb>ul>li+li+li,.gnb>ul>li+li{float: none;margin: 0;width: 100%;border-bottom: 1px solid #585858;}
  .gnb>ul>li>a,.gnb>ul>li:first-child>a, .gnb>ul>li+li+li+li>a{background:url(../images/common/bullet_lnb_ov.png) 10px 50% no-repeat;font-size: 18px;display: block;padding: 15px 30px;font-weight: normal;}
  .gnb>ul>li:first-child>a:hover, .gnb>ul>li+li+li+li>a:hover,
  .gnb>ul>li:first-child>a:focus, .gnb>ul>li+li+li+li>a:focus,
  .gnb>ul>li.on,.gnb>ul>li+li+li+li>.on{background:url(../images/common/bullet_lnb_ov_1.png) 10px 50% no-repeat;}
  .gnb ul li div{display: block ! important;position: static;height: initial;background-color: #1f1f1f;}
  .gnb>ul>li>div>img{display: none;}

  .info_prd_wrap{position: static;margin-left: 0;/* display: none; */}
  .gnb>ul>li>div>.info_prd_wrap>li{float: none;}

  .ul_common{padding: 0;height: initial;background-color: #1f1f1f;width: 100%;display: block ! important;position: static;padding: 10px 0;}
  .ul_common li{margin-bottom: 5px;margin-top: 0;}
  .ul_common li>a{display: block;padding: 2px 30px;font-size: 16px;}
  .gnb>ul>li>div>.info_prd_wrap>li>h3{margin-bottom: 5px;border-top: 1px solid #585858;padding: 0;}
  .gnb>ul>li>div>.info_prd_wrap>li>h3>a{color:#fff;font-size: 16px;padding: 10px 40px;display: block;}
    .gnb>ul>li>div>.info_prd_wrap>li>h3+ul{border-top: 1px solid #787878;padding-top: 10px;padding-bottom: 10px;width: 100%;}
  .ul_common>li>a:hover,.ul_common>li>a:focus{text-decoration: none;}
  .gnb>ul>li>div>.info_prd_wrap>li>ul>li>a:hover,.gnb>ul>li>div>.info_prd_wrap>li>ul>li>a:focus{text-decoration: none;}
  .gnb>ul>li>div>.info_prd_wrap>li>ul>li>a{font-size: 16px;padding: 10px 50px;}
  .syncros_h3{background: url(../images/common/gnb_sub_syncros_mobile.png) 40px 8px no-repeat;}

  .sns{padding: 15px 0;}
  .footer h3 img{width: 25%;}
  .footer .store_ft{width: 100%;max-width: 476px; float: none;}
  .footer .ft_category{float: none;width: 100%;max-width: 900px;font-size: 13px;margin-top: 50px;padding: 0;}
  .footer .ft_category h4 a{font-size: 15px;}
  .footer .ft_category>li{float: left;margin-left: 5%;height: 200px;}
  .footer .ft_category>li+li+li+li{margin-left: 5%;margin-top: 0;}
  .footer .ft_category>li+li+li+li+li{margin-left: 5%;}
  
}


@media (max-width:640px) {
  .col_mobile_1{width: 8.333%;}
  .col_mobile_2{width: 16.666%;}
  .col_mobile_3{width: 24.999%;}
  .col_mobile_4{width: 33.33%;}
  .col_mobile_5{width: 41.665%;}
  .col_mobile_6{width: 49.998%;}
  .col_mobile_7{width: 58.331%;}
  .col_mobile_8{width: 58.331%;}
  .col_mobile_9{width: 74.997%;}
  .col_mobile_10{width: 83.33%;}
  .col_mobile_11{width: 91.663%;}
  .col_mobile_12{width: 100%;}
}