@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
*{margin: 0;padding: 0;}
html{overflow-y:scroll;}
body{margin-top:110px;}
li{list-style:none;}
img{max-width: 100%;}
fieldset{border:none;}
legend, hr, .blind {position:absolute; left:-9999px;}
caption{text-indent:-9999px; height:0; overflow:hidden; visibility:hidden;}
img,button,input[type="submit"],input[type="button"],input[type="reset"]{ border:none; vertical-align:middle;}
a{text-decoration:none; color:#101010;}
body, input, textarea, select, button{ color:#101010; font:14px/1.33 Nanum Gothic,'나눔고딕', Malgun Gothic, '맑은고딕', Dotum, '돋움', arial, sans-serif;}
input, select, button {vertical-align:middle;}
input[type="text"], input[type="email"],input[type="url"], input[type="search"],input[type="password"], select, textarea{border:1px solid #c8c8c8;}
address, em{font-style:normal;}
h1, h2, h3, h4, h5, h6, strong{font-size:100%; font-weight:normal;}
.clearFix:after{content:""; display:block;clear:both;}
.clearFix{*zoom:1;}
button, input[type="button"], input[type="submit"], input[type="reset"]{cursor:pointer;}
table{border-collapse:collapse;border-spacing:0;width: 100%;}
th{font-weight: normal;}
textarea{resize:none;vertical-align: middle;padding: 2px;}
*,
*:after,*:before {box-sizing: border-box;}
@font-face {
      font-family: 'fontello';
      src: url('../font/fontello.eot?62115255');
      src: url('../font/fontello.eot?62115255#iefix') format('embedded-opentype'),
           url('../font/fontello.woff?62115255') format('woff'),
           url('../font/fontello.ttf?62115255') format('truetype'),
           url('../font/fontello.svg?62115255#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
}


#wrap{width: 100%;}

/* header */
#header_wrap{width: 100%;height: 110px;background-color: #000;position: relative;position: fixed;z-index: 999;margin-top:-110px;}
.skip_menu a{background:#fff;width:100%;position:absolute;top:-200px; left:0;text-align:center;padding:5px 0;color:#000;font-weight:bold;}
.skip_menu a:focus{display:block; top:0;}
#header{max-width: 1200px;margin: 0 auto;}
#header h1{padding: 30px 0 0 7px;float: left;}
.utilmenu{position: absolute;top:15px;right: 2%;width: auto;}
.utilmenu ul{padding:6px 23px 0 0;display: inline-block;vertical-align: middle;}
.utilmenu ul li{float: left;}
.utilmenu ul li:first-child{padding-right: 18px;}
.utilmenu ul li a{color:#fff;font-size: 12px;}
.utilmenu ul li a:before{content:"\f02c";font-family:'fontello';color:#fff;font-size: 20px;vertical-align: middle;padding-right: 7px;}
.utilmenu ul li+li>a:before{content:"\e803";}
.utilmenu p{float: right;border: 1px solid #979797;background: url(../images/common/bg_header_sch_dotline.png) 147px 4px no-repeat;}
.utilmenu p>input[type="text"]{background-color: #000;border: none;padding: 8px 4px;width: 147px;color:#fff;}
.utilmenu p>input[type="image"]{padding: 5px 8px 5px 9px;}
.gnb{padding:78px 0 0 31.6666%;}
.gnb>ul>li{float: left;width: 12%;white-space:nowrap;}
.gnb>ul>li+li{width: 7%;margin-left: 8%;}
.gnb>ul>li+li+li{width: 12%;margin-left:10%}
.gnb>ul>li>a{color:#fff;font-weight:bold;font-size: 15px;}
.gnb>ul>li>a+div>img{transition:all 0.7s linear;}
.gnb>ul>li>a:hover+div>img{margin-left:18%;}
.gnb>ul>li:first-child>a,
.gnb>ul>li+li+li+li>a{background: url(../images/common/bullet_gnb.png) right 50% no-repeat;padding-right: 21px;}
.gnb>ul>li:first-child>a:hover,
.gnb>ul>li:first-child>a:focus,
.gnb>ul>li+li+li+li>a:hover,
.gnb>ul>li+li+li+li>a:focus{background: url(../images/common/bullet_gnb_ov.png) right 50% no-repeat;padding-right: 21px;}
.gnb>ul>li>a:hover, .gnb>ul>li>a:focus{color:#afca43;}
.gnb>ul>li>div{position: absolute;top:110px;left: 0;width: 100%;height: 273px;background-color: #0d0d0d;min-width: 1024px;z-index:500;display: none;}
.info_prd_wrap{position: absolute;top:34px;left: 50%;margin-left: -222px;}
.gnb>ul>li>div>.info_prd_wrap>li{float: left;}
.gnb>ul>li>div>.info_prd_wrap>li>h3{color:#8da23a;font-weight: bold;margin-bottom: 24px;}
.syncros_h3{background: url(../images/common/gnb_sub_syncros.png) 0 0 no-repeat;text-indent: -9999px;}
.gnb>ul>li>div>.info_prd_wrap>li>ul{margin-right: 100px;}
.gnb>ul>li>div>.info_prd_wrap>li>ul>li{margin-bottom: 5px;}
.gnb>ul>li>div>.info_prd_wrap>li>ul>li>a{color:#e1e1e1;}
.gnb>ul>li>div>.info_prd_wrap>li>ul>li>a:hover,.gnb>ul>li>div>.info_prd_wrap>li>ul>li>a:focus{text-decoration: underline;}
.li_common{position: relative;}
.ul_common{position: absolute;top:32px;left: -40px;background-color: #0d0d0d;height: 160px;width:160px;padding: 20px;}
.ul_common>li{margin-top: 10px;}
.ul_common>li:first-child{margin: 0;}
.ul_common>li>a{color:#e1e1e1;}
.ul_common>li>a:hover,.ul_common>li>a:focus{text-decoration: underline;}
.ul_common{display: none;}


/* container */
#container{width:100%;}
.visual_wrap{width: 100%;margin: 0 auto;position: relative;}
.visual_wrap>img{width: 100%;}
.location{position: absolute;top:30px;left: 160px;/* background-color: pink */;}
.location li a,.location li{color:#fff;font-size: 13px;}
.location li a:hover,.location li a:focus{color:#afca43;}
.location li{background: url(../images/common/bullet_vs_1.png) 8px 4px no-repeat;float: left;padding-left: 24px;}
.location li:first-child{background: none;padding: 0;}
.location h3{color:#fff;font-size: 45px;font-weight: bold;}
.content{max-width: 1200px;margin:0 auto;}

/* LNB */
.lnb{float: left;width: 16.2%;}
.lnb h3{font-size: 30px;font-weight: bold;margin-top:55px;}
.lnb h3:before{content:"\f206";font-family: 'fontello';font-size: 30px;vertical-align: middle;padding-right: 8px;}
.lnb>ul{/* width: 194px; */border-bottom: 1px solid #cccccc;}
.lnb>ul>li>a{padding: 10px 31px;display: block;background: url(../images/common/bullet_lnb.png) 12px 50% no-repeat;border: 1px solid #cccccc;}
.lnb>ul>li>a:hover,.lnb>ul>li>a:focus{color:#fff;font-weight: bold;border: 1px solid #000;background: #000 url(../images/common/bullet_lnb_ov.png) 11px 50% no-repeat;}
.lnb>ul>li>ul{border-left: 1px solid #cccccc;border-right: 1px solid #cccccc;padding: 15px 0;}
.lnb>ul>li>ul>li{padding: 0 31px;margin-top: 8px;background: url(../images/common/bullet_lnb_sub.png) 16px 50% no-repeat;}
.lnb>ul>li>ul>li:first-child{margin: 0;}

/* 사진게시판 */
.content_sub{float: right;max-width: 82%;margin-top:55px;margin-bottom: 200px;}
.content_sub h4{padding-bottom: 9px;padding-left: 10px;font-size: 26px;font-weight: bold;background: url(../images/common/line_cyc_common.png) 0 bottom repeat-x;}
.content_sub h5{padding-bottom: 8px;padding-left: 10px;margin-top: 27px;font-size: 16px;font-weight: bold;color:#555555;background: url(../images/common/line_cyc_green.png) 0 bottom repeat-x;}
.content_sub>ul>li{float: left;margin-left: 2.5%;width: 31.25%;}
.content_sub>ul>li:first-child{margin: 0;}
.content_sub>ul{margin-top: 67px;margin-bottom: 128px;}
.content_sub figcaption{text-align: center;margin-top: 38px;}
.content_sub figcaption span{font-weight: bold;}
.mb_80{margin-bottom: 80px;}
.ml_0{margin-left: 0 !important;}
.pagenation_wrap{text-align: center;}
.pagenation{display: inline-block;}
.pagenation li{float: left;}
.pagenation>li>a{border: 1px solid #cccccc;border-left: none;text-align: center;width: 33px;height: 35px;padding-top: 7px;display: block;}
.pagenation>li:first-child>a{border-left: 1px solid #cccccc;border-bottom-left-radius:4px;border-top-left-radius:4px;}
.pagenation>li:last-child>a{border-bottom-right-radius:4px;border-top-right-radius:4px;}
.pagenation .on a{background-color: #000;color:#fff;font-weight: bold;border: 1px solid #000;}

@media (max-width: 1420px){
	.location{position: absolute;top:30px;left: 5%;}
}


/* footer */
#footer_wrap{width: 100%;}
.sns_wrap{background-color: #363636;}
.sns{width: 210px;margin: 0 auto;padding:27px 0;text-align: center;}
.sns li{float: left;margin-left: 31px;}
.sns li:first-child{margin: 0;}
.footer{background: url(../images/common/bg_footer.png) center center no-repeat;background-size: cover;-ms-behavior:url('backgroundsize.min.htc');}
.footer>div{position: relative;max-width: 1200px;margin: 0 auto;height: 589px;padding: 30px;}
.footer h3 img{position: absolute;bottom:40px;right: 2.5%;}
.footer .store_ft{display: inline-block;float: left;}
.footer .store_ft h4{background: url(../images/common/bg_footer_store_sch.png) 4px 0 no-repeat;padding: 12px 41px;font-size: 16px;color:#fff;font-weight: bold;}
.footer .store_ft p{margin-bottom: 6px;}
.footer .store_ft input[type="text"]{padding: 8px;border: none;width: 350px;}
.footer .store_ft input[type="image"]{width: 42px;height: 34px;padding: 5px 8px 2px 7px;background-color: #fff;}
.footer .store_ft select{width: 194px;height: 34px;border: none;padding: 3px 10px;font-weight: bold;margin-left: 1px;}
.footer .store_ft select:first-child{margin: 0;}
.footer .store_ft input[type="submit"]{background-color: #5c5c5c;font-weight: bold;color:#fff;padding: 10px 18px;}
.footer .ft_category{float: right;width: 502px;margin-top: 10px;/* border: 1px solid red; */}
.footer .ft_category a{color:#fff;}
.footer .ft_category>li{float: left;margin-left: 100px;}
.footer .ft_category>li:first-child{margin-left: 0;}
.footer .ft_category>li+li+li+li{margin-left: 0;margin-top: 48px;}
.footer .ft_category>li+li+li+li+li{margin-left: 124px;}
.footer .ft_category>li h4{font-weight: bold;font-size: 18px;font-family: arial;margin-bottom: 15px;}
.footer .ft_category>li>ul>li{margin-top: 6px;}
.addr_wrap{position: absolute;bottom: 40px;left: 2.5%;font-size: 12px;width: 63%;}
.footer address{clear: both;color:#fff;}
.footer .copy{color:#fff;}

