@charset "utf-8";
.fnq_wrap li a{cursor: pointer;}
.content_sub>.fnq_top{background: url(../images/faq/bg_fnq_content.png) 13% 47px no-repeat;padding: 43px 0;}
.content_sub>.fnq_top>p{margin-left: 33.40163%;}
.content_sub>.fnq_top>p:first-child{font-weight: bold;font-size: 20px;margin-bottom: 3px;}
.content_sub>.fnq_top>p+p{font-size: 12px;line-height: 17px;margin-bottom:40px;}
.content_sub>.fnq_top>p+p>a{display: inline-block;width: 98px;height: 25px;border: 1px solid #aaaaaa;font-size: 12px;padding: 3px 20px 3px 9px;margin-left: 170px;background: url(../images/faq/bg_arrow_more_1.png) 75px 50% no-repeat;}
.fnq_wrap{border-top: 2px solid #383838;border-bottom: 2px solid #c1c1c1;margin-bottom: 76px;}
.fnq_wrap li a{display: block;width: 100%;background: url(../images/faq/bullet_minu.png) 98% 25px no-repeat;border-top: 1px solid #cccccc;}
.fnq_wrap li .on{background-image: url(../images/faq/bullet_minu_ov.png);}
.fnq_wrap li .on span:first-child{background-image: url(../images/faq/bg_qu_ov.png);color:#779500;}
.fnq_wrap li .on span{color:#779500;}
.fnq_wrap li:first-child a{border-top: none;}
.fnq_wrap li a span:first-child{background: url(../images/faq/bg_qu.png) 16px 50% no-repeat;display: inline-block;padding: 20px 0 20px 74px;color:#000;width: 200px;width: 274px;}
.fnq_wrap li a span+span{color:#666666;}
.fnq_wrap li p{background: url(../images/faq/bg_an.png) 20px 0 no-repeat;padding: 5px 0 51px 74px;}
.fnq_wrap li p{display: none;}
.fnq_wrap li .on+p{display: block;}