@charset "utf-8";
.content_sub .agree_procedure li:first-child{background: #cbcdc3 url(../images/member/bg_mb_3.png) right 0 no-repeat;}
.content_sub .greetings{padding: 46px 56px 33px 38px;background: url(../images/member/logo_mb_2.png) 94% 55px no-repeat;background-size: 35%;}
.content_sub .greetings p{font-size: 40px;margin-bottom: 26px;}
.content_sub .greetings p span{font-weight: bold;}
.content_sub .greetings p+p{font-size: 14px;color:#a2a2a2;margin-bottom: 1px;}
.content_sub .certifi{text-align: center;padding: 10px 0 28px 0;border-top: 1px solid #cccccc;}
.content_sub .certifi section{vertical-align: top;width: 49.5%;padding: 0 17px 35px 136px;display: inline-block;background: url(../images/member/bg_mb_phone.png) 32px 42px no-repeat;text-align: left;border-right: 1px solid #cccccc;}
.content_sub .certifi section p{padding-bottom: 18px;color:#a2a2a2;}
.content_sub .certifi section+section{padding-left: 158px;display: inline-block;background: url(../images/member/bg_mb_email.png) 42px 42px no-repeat;border-right: none;}
.content_sub .certifi section h5{font-size: 30px;color:#333333;padding-top: 41px;padding-bottom: 16x;}
.content_sub .certifi section p+a{float: right;background-color: #85a212;max-width: 121px;text-align: center;padding: 8px;font-weight: bold;color:#fff;}
.content_sub .certifi section:first-child p+a{margin-top: 20px;}
.content_sub .certifi+ul{border: 1px solid #cccccc;border-radius: 5px;padding: 27px 25px;}
.content_sub .certifi+ul li{background: url(../images/member/bullet_mb_1.png) 0 50% no-repeat;padding-left: 13px;margin-top:7px;}
.content_sub .certifi+ul li:first-child{margin-top: 0;}

.certifi_phone,.certifi_email{position: fixed;top:50%;left: 50%;margin-top: -200px;margin-left: -300px;width:100%;max-width: 598px;z-index:100;background-color: #fff;}
.certifi_phone>h5,.certifi_email>h5{font-size: 18px;background: url(../images/member/icon_mb_phone.png) 15px 14px no-repeat;padding: 14px 39px 18px 39px;}
.certifi_email>h5{background: url(../images/member/icon_mb_mail.png) 14px 20px no-repeat;padding-left:41px;}
.certifi_phone form,.certifi_email form{border-top: 1px solid #cccccc;}
.certifi_phone form div,.certifi_email form div{padding: 15px 14px;color: #525252;border-bottom: 1px solid #cccccc;}
.certifi_phone form span,.certifi_email form span{color:#85A212;display: block;margin-bottom: 33px;}
.certifi_phone form p+p,.certifi_email form p+p{padding-top: 20px;text-align: center;margin-top: 32px;border-top: 1px solid #cccccc;}
.certifi_phone form p+p input[type="text"],.certifi_phone form p+p select{width: 66px;height: 26px;margin-bottom: 3px;}
.certifi_email form p+p input[type="text"]{width: 151px;padding: 3px;margin-bottom: 3px;}
.certifi_phone form p+p a,.certifi_email form p+p a{display:inline-block;height:26px;background-color: #85A212;vertical-align: middle;padding: 3px 5px;color:#fff;margin-left: 5px;margin-bottom: 3px;}
.certifi_phone form p+p+p{border-top: none;padding: 0;margin-top: 8px;}
.certifi_phone form p+p+p a{margin-bottom: 0;}
.certifi_phone form p+p+p span{color:#525252;display:block;margin-bottom: 12px;}
.certifi_phone form p+p+p input[type="text"]{width: 80px;margin-bottom: 0;}
.certifi_phone form div+p,.certifi_email form div+p{padding: 15px;text-align: right;padding-left:0;}
.certifi_phone input[type="submit"],.certifi_email input[type="submit"]{background-color: #333333;width: 51px;height: 30px;color:#fff;}
.certifi_phone input[type="reset"],.certifi_email input[type="reset"]{border: 1px solid #333333;width: 51px;height: 30px;background-color: #fff;margin-left: 9px;}
.certifi_phone button,.certifi_email button{position: absolute;top: 16px;right: 19px;width: 11px;height: 11px;text-indent: -9999px;background: url(../images/member/btn_close_mb.png) 0 0 no-repeat;}
.certifi_dim{background: url(../images/member/bg_dim.png) 0 0;position: fixed;left: 0;top: 0;width: 100%;height: 100%;overflow: auto;z-index: 90;}
.certifi_email{display: none;}
.certifi_phone{display: none;}
.certifi_phone .put_num{display: none;}

@media (max-width: 1024px){
	.content_sub .certifi section:first-child p+a{margin-top: 0;}
}
@media (max-width: 767px){
	.content_sub .greetings{background: none;padding:15px 10px 30px;}
	.content_sub .greetings p{font-size: 30px;margin-bottom: 20px;}
	.content_sub .certifi section,.content_sub .certifi section+section{background: none;padding: 0 20px 35px;width: 49%;}
	.content_sub .certifi section h5{padding-top: 20px;font-size: 25px;}
}
@media (max-width:640px) {
	.certifi_phone,.certifi_email	{margin-left:0;left:50%;margin-top:0;transform:translate(-50%,-50%);}
}
@media (max-width: 424px){
  .content_sub .agree_procedure li:first-child{background-position: right -4px;}
}