@charset "utf-8";
.content_sub .agree_procedure .on{background-image: none;color:#fff;font-weight: bold;}
.content_sub .agree_procedure li+li+li{background: #cbcdc3 url(../images/member/bg_mb_3.png) right 0 no-repeat;}
.mb_complet{border: 2px solid #cbcdc3;border-radius: 10px;background: url(../images/member/logo_mb_1.png) 43px 39px no-repeat;-webkit-background-size: 299px 64px;
background-size: 299px 64px;margin-top: 32px;text-align: center;padding-bottom: 96px;}
.mb_complet>p:first-child{font-size: 36px;font-weight: bold;margin-top: 139px;margin-bottom: 40px;padding: 0 160px;}
.mb_complet div{max-width:511px;margin: 0 auto;}
.mb_complet ul{display: table;background-color: #eeeeee;border-radius: 10px;max-width:511px;width: 100%;margin: 0 auto;padding: 14px 0;}
.mb_complet li{display: table-row;}
.mb_complet li p{display: table-cell;padding: 6px 0;width: 20%;}
.mb_complet li p+p{width: 80%;padding-right: 100px;font-size: 16px;color:#527c00;}
.mb_complet ul+p{padding-left: 340px;margin-top: 13px;}

@media (max-width: 1024px){
	.content_sub h4{font-size: 26px;text-indent: 0;}
}
@media (max-width: 767px){
	.content_sub h4{font-size: 24px;}
	.mb_complet{padding: 15px;background: none;}
	.mb_complet>p:first-child{font-size: 30px;margin-top: 30px;margin-bottom: 30px;padding: 0 10px;}
	.mb_complet ul{padding: 14px 5px;}
	.mb_complet ul+p{text-align: left;padding: 0;}
	.mb_complet li p+p{padding: 0;}
}
@media (max-width: 424px){
  .content_sub .agree_procedure li+li+li{background-position: right -4px;}
}