@charset "utf-8";

.content h4{padding: 40px 0 10px 20px;font-size: 28px;font-weight: bold;background: url(../images/common/line_cyc_common.png) 0 bottom repeat-x;margin-bottom: 12px;}
.content .area_sch_wrap{background-color: #ebebeb;}
.content .area_sch_wrap img{padding: 12px 4%;width: 35.8%;}
.content .area_sch_wrap div{display: inline-block;vertical-align: top;margin-top: 52px;width: 59.5%;min-width:503px;}
.content .area_sch_wrap div label{font-size: 15px;font-weight: bold;display: block;margin-bottom: 5px;}
.content .area_sch_wrap div p{margin-bottom: 25px;}
.content .area_sch_wrap div select{width: 41.2%;height: 30px;margin-right: 1%;}
.content .area_sch_wrap div input[type="text"]{width: 84%;height: 30px;margin-right: 1%;}
.content .area_sch_wrap div input[type="submit"]{width: 70px/* 9.26% */;height:30px;color:#fff;background-color: #333333;}